In [3]:
import numpy as np
import pandas as pd

In [11]:
df = pd.read_csv('./data/jj.csv')
df.head()

         date  data
0  1960-01-01  0.71
1  1960-04-01  0.63
2  1960-07-02  0.85
3  1960-10-01  0.44
4  1961-01-01  0.61

In [12]:
train, test = df[:-4], df[-4:]

In [14]:
def calc_mape(predicted_value, true_value):
    """Calculate mean absolute percentage error"""
    error = (predicted_value - true_value) / true_value
    return np.mean(np.abs(error)) * 100

In [17]:
historical_mean = np.mean(train['data'])
calc_mape(historical_mean, test['data'])

70.00752579965119

In [18]:
last_year_mean = np.mean(train.data[-4:])
calc_mape(last_year_mean, test['data'])

15.5963680725103

In [19]:
last = train.data.iloc[-1]
calc_mape(last, test['data'])

30.457277908606535

In [20]:
last_season = train['data'][-4:].values
calc_mape(last_season, test['data'].values)

11.561658552433654